.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container .leagueImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  position: relative;
}

.container .leagueImageContainer #leagueImage {
  opacity: 0.4;
}

.container .emblem {
  position: absolute;
  width: 60px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.container .gameInfo {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 60px;
  left: 50px;
  width: 730px;
  height: 635px;
}

.container .gameInfo .versus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 300px;
}

.container .gameInfo .versus .teamCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 285px;
  height: 100%;
}

.container .gameInfo .versus .teamCol .teamImageContainer {
  display: flex;
  width: 190px;
  height: 199px;
  align-items: center;
  justify-content: center;
}

.container .gameInfo .versus .teamCol .teamImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center;
}

.container .gameInfo .versus .teamCol .teamName {
  font-size: 76px;
  font-weight: 1000;
  font-style: italic;
  color: rgb(27, 27, 86);
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container .gameInfo .versus .versusImageContainer {
  display: flex;
  width: 190px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
}

.container .gameInfo .versus .versusImageContainer img {
  width: 100%;
  object-fit: cover;
}

.container .gameInfo .stadium {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 575px;
  height: 290px;
  /* overflow: hidden; */

  &:hover {
    .stadiumBtnWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }
}

.container .gameInfo .stadium img {
  width: 100%;
  object-fit: cover;
  transform-origin: center; /* 애니메이션의 중심점을 설정 */
  border-radius: 50%;
  width: 575px;
  height: 290px;

  &:hover {
    opacity: 0.5;
  }
}

.stadiumBtnWrapper {
  display: none;
  position: absolute;
}

.stadium-btn {
  font-size: 24px;
  padding: 10px 30px;
  border: none;
  background-color: #b3b3b3;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.victory-btn {
  display: none;
  position: absolute;
  padding: 5px 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.teamImageContainer {
  position: relative;
}

.teamImageContainer:hover .victory-btn {
  display: block;
}

.teamImageContainer img:hover {
  opacity: 0.7; /* hover 시 엠블럼 투명도 조절 */
}
