<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>Baseball</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <a class="leagueCol" data-league="mlb" href="league.html">
          <h1 class="leagueTitle">MLB</h1>
          <div class="leagueImageContainer">
            <img
              style="margin-bottom: 70px"
              src="../static/assets/images/league/mlb.jpeg"
            />
          </div>
        </a>
        <a class="leagueCol" data-league="kbo" href="league.html">
          <h1 class="leagueTitle">KBO</h1>
          <div class="leagueImageContainer">
            <img src="../static/assets/images/league/kbo.png" />
          </div>
        </a>
        <a class="leagueCol" data-league="npb" href="league.html">
          <h1 class="leagueTitle">NPB</h1>
          <div class="leagueImageContainer">
            <img src="../static/assets/images/league/npb.jpeg" />
          </div>
        </a>
      </div>
    </div>

    <!-- Javascript -->
    <script src="../static/js/index.js"></script>
  </body>
</html>
