<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/league.css" />
    <title>Baseball League</title>
  </head>
  <body>
    <div class="container">
      <div class="leagueImageContainer">
        <img id="leagueImage" src="" alt="League Image" />
      </div>
      <div class="gameInfo"></div>
    </div>

    <!-- Javascript -->
    <script src="../static/js/league.js"></script>
  </body>
</html>
