<!-- league.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/league.css" />
    <title>Baseball League</title>
  </head>
  <body>
    <div class="container">
      <!-- 지도 -->
      <div class="leagueImageContainer">
        <img
          id="leagueImage"
          src="../static/assets/images/league/npb.jpeg"
          alt="League Image"
        />
        <!-- 엠블럼을 배치할 요소들 -->
        <div id="emblemsContainer"></div>
      </div>

      <!-- 게임 정보 -->
      <div class="gameInfo">
        <div class="versus">
          <!-- AWAY -->
          <div class="teamCol">
            <div class="teamImageContainer" id="awayTeamContainer">
              <img
                src="../static/assets/images/npb/away.png"
                alt="Away Team Image"
                id="awayTeamImage"
              />
            </div>
            <h1 class="teamName" id="awayTeamName">AWAY</h1>
          </div>
          <!-- VS -->
          <div class="versusImageContainer">
            <img
              src="../static/assets/images/common/versus.jpeg"
              alt="VS Image"
            />
          </div>
          <!-- HOME -->
          <div class="teamCol">
            <div class="teamImageContainer" id="homeTeamContainer">
              <img
                src="../static/assets/images/npb/home.png"
                alt="Home Team Image"
                id="homeTeamImage"
              />
            </div>
            <h1 class="teamName" id="homeTeamName">HOME</h1>
          </div>
        </div>
        <div class="stadium">
          <img src="../static/assets/images/stadium/stadium.jpeg" alt="" />
        </div>
      </div>
    </div>

    <!-- Javascript -->
    <script src="../static/js/league.js"></script>
  </body>
</html>
